<div class="mat-chip-container">
  <mat-form-field class="mat-input">
    <mat-label class="capitalize-text">User's {{ inputLabel }}s </mat-label>
    <input
      type="text"
      #chosenOption
      placeholder="User's {{ inputLabel }}s"
      matInput
      [matAutocomplete]="auto"
      (focus)="isInputTouched = true"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="addToOptions(chosenOption.value)"
    >
      <mat-option *ngFor="let option of optionsArray" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-error
    *ngIf="
      this.controlContainer.control.get(controlName).hasError('required') &&
      isInputTouched
    "
  >
    At least one {{ inputLabel }} is <strong>required</strong>
  </mat-error>
  <mat-chip-list class="mat-input">
    <mat-chip
      *ngFor="let option of this.controlContainer.control.get(controlName).value"
      (removed)="removeSelectedOptions(option)"
      >{{ option }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>
