<p>
  <mat-form-field class="mat-input">
    <mat-label>User's Locations</mat-label>
    <input
      type="text"
      #chosenLocation
      placeholder="User's Locations"
      matInput
      [matAutocomplete]="auto"
      formControlName="locationInput"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="addToLocations(chosenLocation.value)"
    >
      <mat-option *ngFor="let location of locations" [value]="location">
        {{ location }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-error>
    At least one locations is <strong>required</strong>
  </mat-error>
</p>

<p>
  <mat-chip-list class="mat-input">
    <mat-chip
      *ngFor="let location of profileForm.get('locations').value"
      (removed)="removeSelectedLocations(location)"
      >{{ location }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</p>