<app-list-header title="Edit User Information" description="lorem ipsum dolor sit">
  <button
    (click)="returnToList()"
    mat-raised-button
    class="header-button"
    color="warn"
  >
    cancel
  </button>
  <button
    (click)="save()"
    mat-raised-button
    class="header-button"
    color="accent"
    [disabled]="!profileForm.valid"
  >
    save
  </button>
</app-list-header>
<div class="row" [formGroup]="profileForm">
  <div class="col-7 form-group-container">
    <mat-card class="mat-card-container">
      <div class="form-control-container">
        <mat-form-field class="mat-input">
          <mat-label>first name</mat-label>
          <input
            matInput
            placeholder="first name"
            formControlName="firstName"
            required
          />
          <mat-error> User name is <strong>required</strong> </mat-error>
        </mat-form-field>
      </div>
      <div class="form-control-container">
        <mat-form-field class="mat-input">
          <mat-label>surname</mat-label>
          <input matInput placeholder="surname" formControlName="surname" required />
          <mat-error> surname is <strong>required</strong> </mat-error>
        </mat-form-field>
      </div>
      <div class="form-control-container">
        <mat-form-field class="mat-input">
          <mat-label>email address</mat-label>
          <input matInput placeholder="email address" formControlName="email"  required/>
          <mat-error *ngIf="profileForm.get('email').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="profileForm.get('email').hasError('email')">
            your email is not correct
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-control-container">
        <mat-form-field class="mat-input">
          <mat-label>role</mat-label>
          <mat-select placeholder="type" formControlName="role" required>
            <mat-option value="option1">Option1</mat-option>
            <mat-option value="option2">Option2</mat-option>
            <mat-option value="option3">Option3</mat-option>
          </mat-select>
          <mat-error> Type is <strong>required</strong> </mat-error>
        </mat-form-field>
      </div>
    </mat-card>
  </div>
  <div class="col-5">
    <mat-card class="mat-card-container">
      <div class="form-control-container">
        <mat-form-field class="mat-input">
          <mat-label>username</mat-label>
          <input formControlName="username" matInput placeholder="username" required/>
          <mat-error> username is <strong>required</strong> </mat-error>
        </mat-form-field>
      </div>
      <div class="form-control-container">
        <mat-form-field class="mat-input">
          <mat-label>Back-Office Password</mat-label>

          <input
            matInput
            formControlName="backOfficePassword"
            placeholder="Back-Office Password "
            [type]="hide1 ? 'password' : 'text'"
            required
          />
          <mat-icon matSuffix (click)="hide1 = !hide1">{{
            hide1 ? "visibility_off" : "visibility"
          }}</mat-icon>
          <mat-error> Password is <strong>required</strong> </mat-error>
        </mat-form-field>
      </div>

      <div class="form-control-container">
        <mat-form-field class="mat-input">
          <input
            matInput
            formControlName="backOfficeRepeatedPassword"
            placeholder="Repeat Back-Office Password "
            [type]="hide2 ? 'password' : 'text'"
            [errorStateMatcher]="confirmPasswordErrorMatcher"
            required
          />
          <mat-icon matSuffix (click)="hide2 = !hide2">{{
            hide2 ? "visibility_off" : "visibility"
          }}</mat-icon>
          <mat-error
            *ngIf="
              profileForm
                .get('backOfficeRepeatedPassword')
                .hasError('required') &&
              profileForm.get('backOfficeRepeatedPassword').value == ''
            "
          >
            password is <strong>required</strong>
          </mat-error>
          <mat-error
            *ngIf="
              profileForm.hasError('passwordsDoNotMatch') &&
              profileForm.get('backOfficeRepeatedPassword').value.length > 0
            "
          >
            Passwords do not match!
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-control-container">
        <mat-form-field class="mat-input">
          <input
            matInput
            placeholder="4 Digits Passcode "
            formControlName="fourDigitPassword"
            [type]="hide3 ? 'password' : 'text'"
            required
          />
          <mat-icon matSuffix (click)="hide3 = !hide3">{{
            hide3 ? "visibility_off" : "visibility"
          }}</mat-icon>

          <mat-error
            *ngIf="profileForm.get('fourDigitPassword').hasError('required')"
          >
            4 digit password is <strong>required</strong>
          </mat-error>

          <mat-error
            *ngIf="profileForm.get('fourDigitPassword').hasError('pattern')"
          >
            your passcode must contain four numbers
          </mat-error>
        </mat-form-field>
      </div>
      <div class="image-uploader-container">
        <app-image-uploader></app-image-uploader>
      </div>
    </mat-card>
  </div>
</div>
