<app-form-header
  title="user management"
  (confirmed)="save()"
  (canceled)="returnToList()"
  [saveDisabled]="!profileForm.valid"
></app-form-header>
<div class="row" [formGroup]="profileForm">
  <div class="col-7">
    <mat-card class="mat-card-container">
      <p>
        <mat-form-field class="mat-input">
          <mat-label>first name</mat-label>
          <input
            matInput
            placeholder="first name"
            formControlName="firstName"
          />
          <mat-error> User name is <strong>required</strong> </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="mat-input">
          <mat-label>surname</mat-label>
          <input matInput placeholder="surname" formControlName="surname" />
          <mat-error> surname is <strong>required</strong> </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="mat-input">
          <mat-label>email address</mat-label>
          <input matInput placeholder="email address" formControlName="email" />
          <mat-error *ngIf="profileForm.get('email').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="profileForm.get('email').hasError('email')">
            your email is not correct
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="mat-input">
          <mat-label>type</mat-label>
          <mat-select placeholder="type" formControlName="type">
            <mat-option value="option">Option1</mat-option>
            <mat-option value="option">Option2</mat-option>
            <mat-option value="option">Option3</mat-option>
          </mat-select>
          <mat-error> Type is <strong>required</strong> </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="mat-input">
          <mat-label>User's Locations</mat-label>
          <input
            type="text"
            #chosenLocation
            placeholder="User's Locations"
            matInput
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="addToLocations(chosenLocation.value)"
          >
            <mat-option *ngFor="let location of locations" [value]="location">
              {{ location }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </p>

      <p>
        <mat-chip-list class="mat-input">
          <mat-chip
            *ngFor="let location of profileForm.get('locations').value"
            (removed)="removeSelectedLocations(location)"
            >{{ location }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </p>

      <p>
        <mat-form-field class="mat-input">
          <mat-label>RFID token</mat-label>
          <input
            matInput
            placeholder="RFID token"
            [type]="hide ? 'password' : 'text'"
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
        </mat-form-field>
      </p>
    </mat-card>
    <mat-card class="mat-card-container">
      <div>
        time attendance
        <mat-slide-toggle formControlName="timeAttendance"></mat-slide-toggle>
      </div>
      <div>If it's on the user appears on clocking page.</div>
      <p *ngIf="profileForm.get('timeAttendance').value">
        <mat-form-field class="mat-input">
          <mat-label>wage</mat-label>
          <input formControlName="wage" matInput placeholder="wage" />
        </mat-form-field>
      </p>
    </mat-card>
  </div>
  <div class="col-5">
    <mat-card class="mat-card-container">
      <p>
        <mat-form-field class="mat-input">
          <mat-label>username</mat-label>
          <input formControlName="username" matInput placeholder="username" />
          <mat-error> username is <strong>required</strong> </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="mat-input">
          <mat-label>Back-Office Password</mat-label>

          <input
            matInput
            formControlName="backOfficePassword"
            placeholder="Back-Office Password "
            [type]="hide1 ? 'password' : 'text'"
          />
          <mat-icon matSuffix (click)="hide1 = !hide1">{{
            hide1 ? "visibility_off" : "visibility"
          }}</mat-icon>
          <mat-error> Password is <strong>required</strong> </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="mat-input">
          <input
            matInput
            formControlName="backOfficeRepeatedPassword"
            placeholder="Repeat Back-Office Password "
            [type]="hide2 ? 'password' : 'text'"
            [errorStateMatcher]="confirmPasswordErrorMatcher"
          />
          <mat-icon matSuffix (click)="hide2 = !hide2">{{
            hide2 ? "visibility_off" : "visibility"
          }}</mat-icon>
          <mat-error
            *ngIf="
              profileForm
                .get('backOfficeRepeatedPassword')
                .hasError('required') &&
              profileForm.get('backOfficeRepeatedPassword').value == ''
            "
          >
            password is <strong>required</strong>
          </mat-error>
          <mat-error
            *ngIf="
              profileForm.hasError('passwordsDoNotMatch') &&
              profileForm.get('backOfficeRepeatedPassword').value.length > 0
            "
          >
            Passwords do not match!
           </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="mat-input">
          <input
            matInput
            placeholder="4 Digits Passcode "
            formControlName="fourDigitPassword"
            [type]="hide3 ? 'password' : 'text'"
          />
          <mat-icon matSuffix (click)="hide3 = !hide3">{{
            hide3 ? "visibility_off" : "visibility"
          }}</mat-icon>

          <mat-error
            *ngIf="profileForm.get('fourDigitPassword').hasError('required')"
          >
            4 digit password is <strong>required</strong>
          </mat-error>

          <mat-error
            *ngIf="profileForm.get('fourDigitPassword').hasError('pattern')"
          >
            your passcode must contain four numbers
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <app-image-uploader></app-image-uploader>
      </p>
    </mat-card>
  </div>
</div>
