.example-container {
  }
  
  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
.example-container{
    width: 100%;
    height: 100vh;
}
.page-header{
    width: 100%;
    height: 50px;
    background-color: #d9d9d9;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  .left-side-nav{
      width: 400px;
    padding: 0;
        nav{
         padding: 10px;
         display: flex;
         flex-direction: column
        }
  }
 