<div class="form-control-container">
  <mat-form-field class="mat-input">
    <mat-label>password</mat-label>

    <input
      matInput
      [formControl]="firstControl"
      [placeholder]="label"
      [type]="hide ? 'password' : 'text'"
      required
    />
    <mat-icon
      matSuffix
      (click)="hide = !hide"
      *ngIf="inputType === 'password'"
      >{{ hide ? "visibility_off" : "visibility" }}</mat-icon
    >

    <ng-template ngFor let-error [ngForOf]="errors" ngProjectAs="mat-error">
      <mat-error
        *ngIf="firstControl.hasError(error.title)"
        [innerHTML]="error.message"
      >
      </mat-error>
    </ng-template>
  </mat-form-field>
</div>

<div class="form-control-container">
  <mat-form-field class="mat-input">
    <mat-label>repeat your {{ label }} </mat-label>

    <input
      matInput
      [formControl]="secondControl"
      placeholder=" repeat your {{ label }}"
      required
      [type]="hide1 ? 'password' : 'text'"
    />
    <mat-icon
      matSuffix
      (click)="hide1 = !hide1"
      *ngIf="inputType === 'password'"
      >{{ hide1 ? "visibility_off" : "visibility" }}</mat-icon
    >
    <ng-template ngFor let-error [ngForOf]="errors" ngProjectAs="mat-error">
      <mat-error
        *ngIf="secondControl.hasError(error.title)"
        [innerHTML]="error.message"
      >
      </mat-error>
    </ng-template>
  </mat-form-field>

  <mat-error
    *ngIf="
      controlcontainer.hasError('passwordsDoNotMatch') &&
      secondControl.value.length > 0
    "
  >
    Passwords do not match!
  </mat-error>
</div>
