<div class="container-fluid registeration-page-container">
  <div class="row justify-content-center align-items-center">
    <div class="col-6" [formGroup]="loginForm">
      <mat-card class="horizontal-centralize">
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-custom-input
            controlName="username"
            [errors]="[{ title: 'required', message: 'username is required' }]"
            label="username"
          ></app-custom-input>
          <app-custom-input
            controlName="password"
            [errors]="[{ title: 'required', message: 'password is required' }]"
            label="password"
          ></app-custom-input>
          <div class="col-12 button-container">
            <button mat-button mat-raised-button color="accent" [disabled]="loginForm.invalid">
              Login
            </button>
          </div>
          <div class="col-12 button-container justify-content-center">
            <button mat-mini-fab color="accent">
              <i class="fab fa-twitter"></i>
            </button>
            <button mat-mini-fab color="accent">
              <i class="fab fa-facebook-f"></i>
            </button>
            <button mat-mini-fab color="accent">
              <i class="fab fa-google-plus-g"></i>
            </button>
          </div>
          <mat-divider></mat-divider>

          <div class="col-12 button-container justify-content-center">
            <p>
              dont have an account yet ? try <a routerLink="/sign-up"> signing up </a>
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
