<app-list-header
  title="Edit Device"
  description="  Edit a device with all details
"
>
  <button
    mat-raised-button
    class="header-button"
    color="warn"
    disabled="false"
    (click)="cancelEditDeviceForm()"
  >
    Cancel
  </button>
  <button
    mat-raised-button
    class="header-button"
    color="accent"
    [disabled]="devicesEditForm.invalid"
    (click)="saveDevicesEditForm()"
  >
    Save
  </button>
</app-list-header>

<div class="row" [formGroup]="devicesEditForm">
  <div class="col-12 form-group-container">
    <mat-card class="mat-card-container">
      <app-custom-input
        controlName="name"
        [errors]="[{ title: 'required', message: 'name is required' }]"
        label="Device Display Name "
      ></app-custom-input>
      <app-custom-input
        controlName="description"
        [errors]="[{ title: 'required', message: 'description is required' }]"
        label="Description "
      ></app-custom-input>

      <app-custom-input
        controlName="password"
        [errors]="[{ title: 'required', message: 'password is required' }]"
        label="Password "
        inputType="password"
      ></app-custom-input>

      <app-custom-options-select
        [optionsArray]="locations"
        controlName="location"
        label="location"
        [errors]="[{ title: 'required', message: 'location is required' }]"
      ></app-custom-options-select>

      <app-custom-autocomplete-input
        [optionsArray]="businessHints"
        controlName="business"
        label="business"
        [errors]="[{ title: 'required', message: 'business is required' }]"
      ></app-custom-autocomplete-input>
    </mat-card>
  </div>
</div>
