<app-list-header
  title="Company Wizard"
  description="Edit company with all details."
>
  <button
    mat-raised-button
    class="header-button"
    color="warn"
    (click)="cancelCompanyWizardForm()"
  >
    cancel
  </button>
</app-list-header>

<mat-horizontal-stepper class="company-wizard-stepper" linear>
  <mat-step
    [formGroup]="companyWizardForm"
    [stepControl]="generalInfoFormGroup"
    optional="false"
  >
    <ng-template matStepLabel> Company Details</ng-template>
    <div class="form-group-container" formGroupName="generalInfo">
      <app-custom-input
        controlName="businessName"
        [errors]="[{ title: 'required', message: 'business name is required' }]"
        label="bussines name"
      ></app-custom-input>

      <app-custom-input
        controlName="address1"
        label="address 1"
        [errors]="[{ title: 'required', message: 'your address is required' }]"
      ></app-custom-input>

      <app-custom-input
        controlName="address2"
        label="address line 2"
      ></app-custom-input>

      <app-custom-input controlName="town" label="town"></app-custom-input>
      <app-custom-input
        controlName="country"
        label="country"
      ></app-custom-input>

      <app-custom-input
        controlName="postcode"
        label="postcode"
        [errors]="[{ title: 'required', message: 'post code is required' }]"
      ></app-custom-input>

      <app-custom-input
        controlName="phoneNumber"
        label="Phone number"
        [errors]="[{ title: 'required', message: 'Phone number is required' }]"
      ></app-custom-input>
      <app-custom-input
        controlName="website"
        label="website"
      ></app-custom-input>

      <button mat-raised-button color="accent" (click)="openDialog()">
        pick your work hours
      </button>

      <app-custom-input
        controlName="staffsNO"
        label="staffs number"
      ></app-custom-input>

      <app-custom-input
        controlName="deviceNo"
        label="devices number"
        [errors]="[
          { title: 'required', message: 'at least one device is required' }
        ]"
      ></app-custom-input>

      <app-multi-select-chips
        controlName="registersName"
        inputLabel="registers names"
      >
      </app-multi-select-chips>

      <div class="image-uploader-container">
        <app-image-uploader></app-image-uploader>
      </div>

      <app-custom-input
        controlName="privateAddress"
        label="private address"
      ></app-custom-input>

      <app-custom-input controlName="email" label="email"></app-custom-input>

      <app-custom-input
        controlName="CRMOrderNumber"
        label="CRM Order Number"
      ></app-custom-input>

      <div class="form-control-container">
        <mat-card-title>Company Location</mat-card-title>
        <p>Drag and drop the pin to locate your position</p>
        <agm-map [latitude]="latitude" [longitude]="longitude">
          <agm-marker
            [latitude]="generalInfoFormGroup.get('companyLat').value"
            [longitude]="generalInfoFormGroup.get('companyLng').value"
            [markerDraggable]="true"
            (dragEnd)="markerDragEnd($event)"
          >
          </agm-marker>
        </agm-map>
      </div>
      <button mat-button mat-raised-button matStepperNext color="accent">
        Next
      </button>
    </div>
  </mat-step>
  <mat-step
    [formGroup]="companyWizardForm"
    [stepControl]="locationsFormArray"
    optional="false"
  >
    <ng-template matStepLabel> Locations </ng-template>
    <div formArrayName="locations" class="form-group-container">
      <mat-accordion>
        <mat-expansion-panel
          *ngFor="let location of locationsFormArray.controls; let i = index"
          [formGroupName]="i"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ location.get("name").value || "New Location" }}
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon
                *ngIf="i !== 0"
                (click)="removeLocationFromLocationsFormArray(i)"
                >delete</mat-icon
              >
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <app-custom-input
              controlName="name"
              [errors]="[{ title: 'required', message: 'name is required' }]"
              label="name"
            ></app-custom-input>
            <app-custom-input
              controlName="address1"
              label="address 1 "
            ></app-custom-input>
            <app-custom-input
              controlName="address2"
              label="address 2"
            ></app-custom-input>
            <app-custom-input
              controlName="town"
              label="town"
            ></app-custom-input>
            <app-custom-input
              controlName="country"
              label="country"
            ></app-custom-input>

            <app-multi-select-chips
              [optionsArray]="currencyList"
              controlName="currency"
              inputLabel="currency"
              isRequired="true"
            ></app-multi-select-chips>

            <app-custom-input
              controlName="postcode"
              [errors]="[
                { title: 'required', message: 'postcode is required' }
              ]"
              label="postcode"
            ></app-custom-input>

            <div class="form-control-container">
              <mat-card-title>Company Location</mat-card-title>
              <p>Drag and drop the pin to locate your position</p>
              <agm-map [latitude]="latitude" [longitude]="longitude">
                <agm-marker
                  [latitude]="location.get('companyLat').value"
                  [longitude]="location.get('companyLng').value"
                  [markerDraggable]="true"
                  (dragEnd)="LocationArrayMarkerDragEnd($event, i)"
                >
                </agm-marker>
              </agm-map>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="row button-container">
        <div class="col-6">
          <button mat-raised-button color="accent" matStepperNext>
            next
          </button>
        </div>
        <div class="col-6">
          <button mat-mini-fab (click)="addLocationToLocationsFormArray()">
            <mat-icon aria-label="Example icon-button with a heart icon"
              >add</mat-icon
            >
          </button>
        </div>
      </div>
    </div>
  </mat-step>
  <mat-step optional="false">
    <ng-template matStepLabel> Summary </ng-template>
    <mat-card class="company-result-card">
      <mat-card-title>
        Form Information Successfully applied
      </mat-card-title>

      <mat-card-content>
        <mat-card-subtitle>
          your form is completed if you are sure about your company details
          press save
        </mat-card-subtitle>

        <mat-card-actions>
          <button
            mat-raised-button
            class="header-button"
            color="accent"
            [disabled]="!companyWizardForm.valid"
            (click)="saveCompanyWizardForm()"
          >
            save
          </button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </mat-step>
</mat-horizontal-stepper>
