// this class is for buttons in main header

.header-container {
  .header-button {
    padding: 0 14px;
    margin-left: 10px;
    text-transform: capitalize;
    color: #fff;
    min-width: 100px;
  }
  .mat-card-subtitle {
    margin-bottom: 8px;
  }
}
button:hover {
  cursor: pointer;
}
.list-loading{
  .cancel-request-btn{
    margin-top: 15px;
  }
}
