.form-group-container {
  .form-control-container {
    padding-bottom: 20px;
    .mat-form-field {
      width: 100%;
    }
  }
  .button-container {
    padding-top: 20px;
    .col-6:last-child {
      justify-content: flex-end;
      display: flex;
    }
  }
}

.centralize {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.vertical-centralize {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.mat-card-container {
  margin-bottom: 20px;
}

.mat-input {
  width: 100%;
}
.chip-list {
  width: 100%;
}
