
table {
    width: 100%;
}
.mat-table{
    box-shadow: none
  }
th.mat-sort-header-sorted {
  color: black;
}
.userManagementListActionRow{
  i{
    cursor: pointer;
  }
    padding-right: 5px;
    width: 50px;
}