<app-list-header
  title="Users Management"
  description="A list of all of your users."
>
  <button
    mat-raised-button
    class="header-button"
    color="accent"
  >
    Add New User
  </button>
</app-list-header>
<mat-card class="mat-elevation-z8 list-container">
  <mat-form-field>
    <input
      matInput
      placeholder="Filter"
      #filterInput
    />
  </mat-form-field>
  <table mat-table matSort [dataSource]="tableManagementService.dataSource"  matSortActive="Name" matSortDirection="asc">

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.Name }}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef class="list-action-row">
        Edit
      </th>
      <td mat-cell *matCellDef="let element" class="list-action-row">
        <i class="material-icons" (click)="updateUser(element.Name)">
          edit
        </i>
      </td></ng-container
    >

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef class="list-action-row">
        Delete
      </th>
      <td mat-cell *matCellDef="let element" class="list-action-row">
        <i class="material-icons">
          delete
        </i>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div class="parent-overlay list-loading" *ngIf="tableManagementService.isLoading">
    <mat-progress-spinner
      color="primary"
      mode="indeterminate"
    class="loading-spinner">
    </mat-progress-spinner>
    <button
    mat-raised-button
    class="cancel-request-btn"
    color="accent"
    (click)="tableManagementService.cancelRequest()"
  > cancel </button>
  </div>
  <mat-paginator
    [pageSizeOptions]="[6, 12, 18]"
    showFirstLastButtons
    [length]="tableManagementService.resultsLength"
  ></mat-paginator>
</mat-card>
