/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "app/theme/dark";
@import 'partial-css/text';
@import 'partial-css/snackbar';
@import 'partial-css/custom-scroll';
@import 'partial-css/mixins';
@import 'partial-css/list';
@import 'partial-css/template';
@import 'partial-css/button';


button:focus,
input:focus {
  outline: none;
}
.company-wizard-stepper{
  .mat-step-icon-state-number,
  .mat-step-icon-state-edit{
    background-color: map-get($mat-primary , darker);
  }
  .mat-step-icon-selected{
    background-color: map-get($mat-primary , lighter);
  }
  
}


// this class is for buttons in main header
.header-container {
  .header-button {
    padding: 0 14px;
    margin-left: 10px;
    text-transform: capitalize;
    color: #fff;
    min-width: 100px;
  }
  .mat-card-subtitle {
    margin-bottom: 8px;
  }
}
