/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'app/theme/dark';

button:focus, input:focus {
  outline: none;
}
.alert-snackbar{
  background-color: map-get($mat-primary , darker);
  color: white;
}
.success-snackbar{
   background-color: $mat-success;
   color: white;
}
.error-snackbar{
  background-color:map-get($mat-warn, darker);
  color: white;
}

@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
}

.centralize {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
 }

.vertical-centralize {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.vertical-centralize {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
}
